[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/nvim/tree-sitter-parsers/tree-sitter-powershell"]
	path = .config/nvim/tree-sitter-parsers/tree-sitter-powershell
	url = https://github.com/airbus-cert/tree-sitter-powershell.git
